  @font-face { 
    font-family: 'GothamExLight'; 
    src: url('../fonts/Gotham/ExLight/Gotham-ExLight.eot'); 
    src: url('../fonts/Gotham/ExLight/Gotham-ExLight.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Gotham/ExLight/Gotham-ExLight.woff') format('woff'), 
         url('../fonts/Gotham/ExLight/Gotham-ExLight.ttf') format('truetype'), 
         url('../fonts/Gotham/ExLight/Gotham-ExLight.svg#Gotham') format('svg'); 
    font-weight: light; 
    font-style: regular; 
  }

 body{
	background-color: #262626;
	font-family: 'GothamExLight', helvetica, sans-serif;
	-webkit-user-select: none;
	position:absolute;
	left:0; top:0; bottom:0;
	right:5px;
}

::-webkit-scrollbar {
	background-color: #191919;
	width: 5px;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #FFCE54;
	border-radius: 3px;
}

#toolbar{
	-webkit-app-region: drag;
	position:absolute;
	left:0;
	right:-5px;
	top:0;
	height: 20px;
	background-color: #383838;
}

#parametre{
	-webkit-app-region: no-drag;
	position:absolute;
	right:10px;
	top:2px;
	font-size:14px;
	color:#262626;
	cursor:pointer;
	-webkit-font-smoothing: antialiased;
}

#parametre:hover{
	color:#48CFAD;
}

#reload{
	-webkit-app-region: no-drag;
	position:absolute;
	right:30px;
	top:4px;
	font-size:12px;
	color:#262626;
	cursor:pointer;
	-webkit-font-smoothing: antialiased;
}

#reload:hover{
	color:#ED5565;
}

    .ReloadAnimation{
    -webkit-animation: reloadAniamtion 1s linear;
    } 
  
    @-webkit-keyframes reloadAniamtion{
        100%{ -webkit-transform: rotate(360deg) }
    }


#toolbar p{
	float:left;
	margin:3px 0 0 45%;
	color: #F2F2F2;
	font-size:12px;
}

#close{
	-webkit-app-region: no-drag;
	float:left;
	margin: 5px 0 0 10px;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color: #262626;
	cursor:pointer;
}

#close:hover{
	background-color: #E9573F;
}

#reduce{
	-webkit-app-region: no-drag;
	float:left;
	margin: 5px 0 0 10px;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color: #262626;
	cursor:pointer;
}

#reduce:hover{
	background-color: #F6BB42;
}

#maximise{
	-webkit-app-region: no-drag;
	float:left;
	margin: 5px 0 0 10px;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color: #262626;
	cursor:pointer;
}

#maximise:hover{
	background-color: #A0D468;
}

#leftbar{
	background-color: #191919;
	position: absolute;
	top:20px;
	bottom:0;
	left:0;
	width:170px;
}

#leftbar ul{
margin:0; padding:0;
}

#leftbar ul li{
	list-style-type: none;
	width:100%;
	height:30px;
	cursor: pointer;
	color: #F2F2F2;
}

#leftbar ul li p{
	text-decoration:none;
	color: #F2F2F2;
	padding: 5px 0 0 20px;
}

.badge{
	position:absolute;
	right:10px;
	top:5px;
	background-color: #FC6E51;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
}

#leftbar ul li:hover{
	background-color: #4FC1E9;
}

#leftbar ul li:first-child:hover{
	background-color: #E9573F;
}

#leftbar ul li:last-child:hover{
	background-color: #4A89DC;
}

.content{
	position:absolute;
	top:23px;
	bottom:3px;
	left:170px;
	right:0;
	overflow: auto;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
}

#contentRss div{
	padding:10px;
	width:190px;
	float:left;
	position:relative;
}

#contentRss div a{
	overflow:hidden;
	color: #262626;
	text-align: center;
	cursor: pointer;
}

.removeRss{
	position:absolute;
	right:5px;
	top:4px;
	padding:3px 3px 4px 3px;
	border-radius: 50%;
	font-size:10px;
	background-color: #262626;
	color: #F2F2F2;
}

.removeRss:hover{
	background-color: #E9573F;
}
